@font-face {
    font-family: orbitron;
    src: url(../fonts/orbitron-black-webfont.woff) format(woff);
    src: url(../fonts/orbitron-bold-webfont.woff) format(woff);
    src: url(../fonts/orbitron-light-webfont.woff) format(woff);
    src: url(../fonts/orbitron-medium-webfont.woff) format(woff);
}
